@model List<Stock>


<div class="row">
    <div class="col-6">
        <h2>倉庫清單</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-area="BasicInformation" asp-controller="Stock" asp-action="Upsert" class="btn btn-primary">新增倉庫</a>
    </div>
</div>

<div class="table-responsive py-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>NO.</th>
                <th>倉庫名稱</th>
                <th>倉庫負責人</th>
                <th>倉庫電話</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 1;
            }
            @foreach (var obj in Model.OrderBy(u => u.StockId))
            {
                <tr>
                    <td>@index</td>
                    <td>@obj.Name</td>
                    <td>@obj.PersonInCharge</td>
                    <td>@obj.Phone</td>
                    <td>
                        <a asp-area="BasicInformation" asp-controller="Stock" asp-action="Upsert" asp-route-id="@obj.StockId" class="btn btn-primary">修改</a>
                        <form asp-area="BasicInformation" asp-controller="Stock" asp-action="Delete" asp-route-id="@obj.StockId" method="post" style="display:inline">
                            <button type="submit" class="btn btn-danger">刪除</button>
                        </form>
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
</div>
